<main>
  <split direction="horizontal">
    <split-area [visible]="true"
                [size]="'50%'"
                order="2">
        <codemirror [value]="content"
                    (change)="handleValueChange($event)"
                    [config]="config.codemirror"
                    (focus)="handleFocus($event)"
                    (blur)="handleBlur($event)">
        </codemirror>
      </split-area>
      <split-area [visible]="true"
                  [size]="'50%'">
        <p-scrollPanel [style]="{width: '100%'}">
          <div markdown
               [data]="content"></div>
          </p-scrollPanel>
      </split-area>
  </split>
</main>
